<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link real="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Categorias</h1>
    <a href="/categirias/create"> Crear Categoria</a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <%categorias.forEach(categoria=>{%>
                <tr>
                    <td><a href="/categorias/<%=categoria.id%>"><%=categoria.nombre %></a></td>
                </tr>
                <%})%>
        </tbody>
    </table>
</body>
</html>